.metricContainer {
    display: flex;
    flex-direction: row;
    background: #333;
}

.metricGridContainer{
    margin: 24px;
}

.metricGrid {
    max-width:1000px;
    display: flex;

}
.logo {
    
}