
#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
    font-family: 'Raleway', "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;
}

.hrLine {
    width: 380px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.classDiagramTable {
    --borderWidth: 3px;
    background: #11182f;
    position: relative;
    border-radius: var(--borderWidth);
}

.className {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.classParent {
    text-align: center;
}

.classArgs {
}

.classFunctions {
}