.treeGraphContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: scroll;
}

.node circle {
    fill: #F3F3FF;
    stroke: #2593B8;
    stroke-width: 2px;
}

.node text {
    font-size: 12px;
    fill: black;
}

.node {
    cursor: pointer;
}

path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1px;
}