.uploadModalContainer {
    display: flex;
    flex-direction: column;
}

.filePicker {
    justify-content: center;
}

.fileItemContainer {
    display: flex;
    align-items: center;
    background-color: #D4EEE2;
    margin: 8px 0px 4px 0px;
}
.fileItems {
    flex-grow: 1;
    margin: 1em 3em;
	color: #131516;
	border-left: 2px solid #131516;
    padding-left: 1em; 
}

.deleteIcon {
    float: right;
    padding-right: 1em; 
    padding-left: 1em; 
    cursor: pointer;
}