.fileDirectory {
    background: #11182f;
    color: #fff;
    height: 100%;
    padding: 20px;
    width: 250px;
    left: 0;
    top: 0;
    position: absolute;
    border-right: 1px solid white;
    overflow: hidden;
}

.fileDirTitle {
    margin-bottom: 10px;
}

.fileDirLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fileDirTable {
    width: 250px;
    display: flex;
    flex-direction: column;
}

