.forceDirectedGraph {
    max-width: 400px;
    background-color: black;
}

.title {
    color: #13b3c2;
    margin: 15px;
    font-family: 'Gill Sans', "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
}

.test {
    width: 70px;
    color: black;
}